@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela&display=swap');
body{
    background-color: antiquewhite;
}
*{
    padding: 0;
    margin: 0;
    font-family: ;
}
nav{
    font-family: "Ubuntu", sans-serif;
}